In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [34]:
train_df = pd.read_csv('/Users/allenzhang/Desktop/Career/dataset/shanshu/case2_training.csv')

In [35]:
train_df.head()

,ID,Region,Date,Weekday,Apartment,Beds,Review,Pic Quality,Price,Accept
0,1,4,32,5,1,1,4.526975,0.739994,230.552998,0
1,2,2,87,4,1,1,4.548455,0.862642,348.203425,0
2,3,5,277,5,1,2,4.965732,0.515548,430.462327,0
3,4,3,246,2,1,1,4.752735,0.561547,149.305433,1
4,5,1,155,2,1,2,3.890960,0.817142,165.264184,1

In [33]:
train_df

,ID,Region,Date,Weekday,Apartment,Beds,Review,Pic Quality,Price,Accept
0,1,4,32,5,1,1,4.526975,0.739994,230.552998,0
1,2,2,87,4,1,1,4.548455,0.862642,348.203425,0
2,3,5,277,5,1,1000,4.965732,0.515548,430.462327,0
3,4,3,246,2,1,1,4.752735,0.561547,149.305433,1
4,5,1,155,2,1,1000,3.890960,0.817142,165.264184,1
5,6,2,116,5,1,1,4.943372,0.990913,270.001967,0
6,7,8,115,4,1,1000,4.322199,0.593140,576.754677,0
7,8,7,140,1,1,1000,4.811223,0.786569,457.293737,1
8,9,5,132,7,1,1000,4.577265,0.799762,435.935012,0
9,10,10,88,5,1,1000,4.851933,0.943481,307.155959,0
10,11,2,244,7,0,1,4.823589,0.842970,246.547078,0
11,12,8,192,4,1,1,4.540454,0.464842,350.448108,0
12,13,10,211,2,1,1,4.857455,0.645159,262.017575,0
13,14,5,298,5,1,1000,4.659031,0.997625,546.227906,0
14,15,4,82,6,1,1,4.525652,0.849263,351.241792,0
15,16,9,209,7,1,1000,4.960793,0.621834,283.258119,1
16,17,8,242,5,1,1000,4.953158,0.906570,473.660999,0
17,18,6,91,1,1,1,4.891202,0.957223,372.670043,0
18,19,1,7,1,1,1000,4.939119,0.875869,289.590247,1
19,20,2,343,1,1,1,4.992113,0.680778,285.168316,0
20,21,3,249,5,1,1,4.746781,0.784703,337.804113,1
21,22,8,130,5,0,1,4.939788,0.917248,290.463417,0
22,23,8,4,5,0,1000,4.513816,0.967149,450.492689,0
23,24,7,65,3,0,1000,4.148750,0.518029,276.114190,1
24,25,6,114,3,1,1,4.220023,0.904630,337.872313,0
25,26,5,51,3,1,1000,4.465407,0.623404,474.033576,0
26,27,8,118,7,1,1000,4.446310,0.799421,346.564192,0
27,28,10,306,6,1,1000,4.484807,0.537822,377.426122,0
28,29,7,128,3,1,1,4.832295,0.938286,386.714930,0
29,30,6,295,2,1,1,4.934404,0.727297,269.571381,0
...,...,...,...,...,...,...,...,...,...,...
49970,49971,3,249,5,1,1000,4.914504,0.921022,366.040966,0
49971,49972,8,207,5,1,1000,4.900625,0.971084,385.656594,0
49972,49973,5,19,6,0,1000,4.497192,0.998725,425.106431,0
49973,49974,7,236,6,1,1000,4.948811,0.694687,429.856167,0
49974,49975,3,138,6,1,1,4.179706,0.709088,347.612712,1
49975,49976,9,17,4,0,1,4.970182,0.750143,365.348045,0
49976,49977,3,354,5,0,1000,4.899208,0.655490,464.596807,0
49977,49978,8,124,6,0,1,4.512335,0.905876,375.914073,0
49978,49979,2,114,3,1,1000,4.194235,0.966099,373.810282,0
49979,49980,5,294,1,1,1000,4.889553,0.890331,334.047254,0
49980,49981,1,65,3,1,1000,4.948717,0.828041,347.059659,0
49981,49982,8,193,5,1,1,4.153256,0.100929,133.858153,1
49982,49983,4,109,5,1,1,4.915673,0.561213,390.984518,0
49983,49984,4,149,3,1,1000,4.926445,0.777524,369.196711,1
49984,49985,6,144,5,1,1,4.996976,0.917150,286.430219,1
49985,49986,5,187,6,1,1,4.232414,0.757986,337.336011,0
49986,49987,7,201,6,1,1,4.498190,0.797848,263.108795,0
49987,49988,1,241,4,1,1,4.465152,0.622824,266.049673,1
49988,49989,8,358,2,1,1,4.843245,0.896755,202.586096,1
49989,49990,3,206,4,1,1,4.965107,0.933414,315.596681,0
49990,49991,4,178,4,0,1000,4.632056,0.899604,457.521903,1
49991,49992,5,13,7,1,1,4.872987,0.965863,296.434783,1
49992,49993,1,206,4,0,1,4.378038,0.863075,246.043762,0
49993,49994,5,175,1,1,1000,4.894088,0.822045,585.274782,0
49994,49995,1,195,7,0,1000,4.930420,0.499051,414.352910,0
49995,49996,1,68,6,0,1,3.669174,0.858494,199.187671,1
49996,49997,9,217,1,1,1000,4.849890,0.678795,348.927419,0
49997,49998,10,100,3,1,1000,4.971527,0.993316,317.187052,1
49998,49999,10,170,3,1,1000,4.951120,0.792698,460.453975,0
49999,50000,2,225,2,0,1,4.921654,0.250378,247.206407,0

In [ ]:
colormap = plt.cm.RdBu
plt.figure(figsize=(14,12))
plt.title('Pearson Correlation of Features', y=1.05, size=15)
sns.heatmap(train.astype(float).corr(),linewidths=0.1,vmax=1.0, 
            square=True, cmap=colormap, linecolor='white', annot=True)

In [24]:
pd.cut(train_df['Region'], 5)

0          (2.8, 4.6]
1        (0.991, 2.8]
2          (4.6, 6.4]
3          (2.8, 4.6]
4        (0.991, 2.8]
5        (0.991, 2.8]
6          (6.4, 8.2]
7          (6.4, 8.2]
8          (4.6, 6.4]
9         (8.2, 10.0]
10       (0.991, 2.8]
11         (6.4, 8.2]
12        (8.2, 10.0]
13         (4.6, 6.4]
14         (2.8, 4.6]
15        (8.2, 10.0]
16         (6.4, 8.2]
17         (4.6, 6.4]
18       (0.991, 2.8]
19       (0.991, 2.8]
20         (2.8, 4.6]
21         (6.4, 8.2]
22         (6.4, 8.2]
23         (6.4, 8.2]
24         (4.6, 6.4]
25         (4.6, 6.4]
26         (6.4, 8.2]
27        (8.2, 10.0]
28         (6.4, 8.2]
29         (4.6, 6.4]
             ...
49970      (2.8, 4.6]
49971      (6.4, 8.2]
49972      (4.6, 6.4]
49973      (6.4, 8.2]
49974      (2.8, 4.6]
49975     (8.2, 10.0]
49976      (2.8, 4.6]
49977      (6.4, 8.2]
49978    (0.991, 2.8]
49979      (4.6, 6.4]
49980    (0.991, 2.8]
49981      (6.4, 8.2]
49982      (2.8, 4.6]
49983      (2.8, 4.6]
49984      (4.6, 6.4]
49985      (4.6, 6.4]
49986      (6.4, 8.2]
49987    (0.991, 2.8]
49988      (6.4, 8.2]
49989      (2.8, 4.6]
49990      (2.8, 4.6]
49991      (4.6, 6.4]
49992    (0.991, 2.8]
49993      (4.6, 6.4]
49994    (0.991, 2.8]
49995    (0.991, 2.8]
49996     (8.2, 10.0]
49997     (8.2, 10.0]
49998     (8.2, 10.0]
49999    (0.991, 2.8]
Name: Region, Length: 50000, dtype: category
Categories (5, interval[float64]): [(0.991, 2.8] < (2.8, 4.6] < (4.6, 6.4] < (6.4, 8.2] < (8.2, 10.0]]

In [5]:
y = train_df['Accept']

In [8]:
X = train_df.drop(['Accept'], axis=1)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [13]:
y_test = pd.DataFrame(y_test)

In [17]:
%%time
clf = LogisticRegression(penalty='l2', max_iter=500, verbose=1)

clf.fit(X_train, y_train)
print(clf.score(X_test, y_test))

[LibLinear]0.7338
CPU times: user 274 ms, sys: 41 ms, total: 315 ms
Wall time: 386 ms

In [19]:
%%time
clf = LogisticRegression()

clf.fit(X_train, y_train)
print(clf.score(X_test, y_test))

0.7335
CPU times: user 231 ms, sys: 9.54 ms, total: 241 ms
Wall time: 242 ms

In [21]:
%%time
clf = SVC(verbose=1)

clf.fit(X_train, y_train)
print(clf.score(X_test, y_test))

[LibSVM]0.729
CPU times: user 2min 8s, sys: 1.94 s, total: 2min 10s
Wall time: 2min 14s